
@font-face {
  font-family: 'Mechanical';
  src: url('mechanical.otf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Mechanical';
  font-size: 14px;
  overflow: hidden;;
  
}

#container {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  overflow: visible;
  position: absolute;
}

#page {
  width: 670px;
  height: 867px;
  border: 1px solid black;
  position: absolute;
  z-index: 1000;
}

#tape {
  width: 50px;
  height: 20px;
  position: absolute;
  z-index: 2000;
}


#print {
  visibility: hidden;  
  position: absolute;
  top: 0;
  left: 0;
  width: 670px;
  height: 867px;
}

@media print {
  #container {
    visibility: hidden;
  }
  #print {
    visibility: visible;
  }
}
